In [1]:
from sqlalchemy import create_engine
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [3]:
query = '''
SELECT *
FROM scooters
limit 800;
'''

In [16]:
with engine.connect() as connection:
    test = pd.read_sql(query, con = connection)

test.head(50)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird
5,2019-05-01 00:01:41.247,36.157188,-86.769978,Powered3F3VK,Powered,82.0,scooter,0.0,Bird
6,2019-05-01 00:01:41.247,36.154348,-86.784765,PoweredVL7YG,Powered,56.0,scooter,0.0,Bird
7,2019-05-01 00:01:41.247,36.158930,-86.775987,Powered5LNUG,Powered,100.0,scooter,0.0,Bird
8,2019-05-01 00:01:41.247,36.135993,-86.804226,Powered7SPQQ,Powered,85.0,scooter,0.0,Bird
9,2019-05-01 00:01:41.247,36.148938,-86.811256,PoweredBV1DT,Powered,65.0,scooter,0.0,Bird
10,2019-05-01 00:01:41.247,36.161756,-86.777941,Powered3B46L,Powered,100.0,scooter,0.0,Bird
11,2019-05-01 00:01:41.247,36.154591,-86.782247,Powered7S2UU,Powered,69.0,scooter,0.0,Bird
12,2019-05-01 00:01:41.247,36.148193,-86.802267,PoweredA64US,Powered,72.0,scooter,0.0,Bird
13,2019-05-01 00:01:41.247,36.154716,-86.797860,PoweredGK9VY,Powered,74.0,scooter,0.0,Bird
14,2019-05-01 00:01:41.247,36.160524,-86.778528,PoweredBFCXJ,Powered,79.0,scooter,0.0,Bird
15,2019-05-01 00:01:41.247,36.138401,-86.767465,PoweredAB4VX,Powered,65.0,scooter,0.0,Bird
16,2019-05-01 00:01:41.247,36.159659,-86.788282,PoweredNPV1Q,Powered,100.0,scooter,0.0,Bird
17,2019-05-01 00:01:41.247,36.154781,-86.785050,PoweredXWRSD,Powered,35.0,scooter,0.0,Bird
18,2019-05-01 00:01:41.247,36.160438,-86.778480,Powered2ZSZE,Powered,90.0,scooter,0.0,Bird
19,2019-05-01 00:01:41.247,36.160560,-86.778621,PoweredI4EEE,Powered,93.0,scooter,0.0,Bird
20,2019-05-01 00:01:41.247,36.158783,-86.779234,PoweredY43Q4,Powered,34.0,scooter,0.0,Bird
21,2019-05-01 00:01:41.247,36.161325,-86.777521,PoweredRWGRR,Powered,87.0,scooter,0.0,Bird
22,2019-05-01 00:01:41.247,36.151640,-86.787593,PoweredASJRY,Powered,72.0,scooter,0.0,Bird
23,2019-05-01 00:01:41.247,36.162920,-86.780974,Powered12J9T,Powered,100.0,scooter,0.0,Bird
24,2019-05-01 00:01:41.247,36.161862,-86.779130,PoweredA9W92,Powered,100.0,scooter,0.0,Bird
25,2019-05-01 00:01:41.247,36.153412,-86.780707,Powered38GUR,Powered,35.0,scooter,0.0,Bird
26,2019-05-01 00:01:41.247,36.135730,-86.802048,PoweredMA1E2,Powered,94.0,scooter,0.0,Bird
27,2019-05-01 00:01:41.247,36.146417,-86.802519,PoweredXFQ22,Powered,92.0,scooter,0.0,Bird
28,2019-05-01 00:01:41.247,36.160937,-86.773172,PoweredVZU3B,Powered,46.0,scooter,0.0,Bird
29,2019-05-01 00:01:41.247,36.163215,-86.778137,PoweredLP7V8,Powered,92.0,scooter,0.0,Bird
30,2019-05-01 00:01:41.247,36.160151,-86.778160,Powered4P19Z,Powered,69.0,scooter,0.0,Bird
31,2019-05-01 00:01:41.247,36.160827,-86.777283,PoweredBE3BS,Powered,95.0,scooter,0.0,Bird
32,2019-05-01 00:01:41.247,36.167599,-86.820593,PoweredV33KI,Powered,100.0,scooter,0.0,Bird
33,2019-05-01 00:01:41.247,36.163280,-86.780282,PoweredKUV1U,Powered,92.0,scooter,0.0,Bird
34,2019-05-01 00:01:41.247,36.163904,-86.779432,Powered4BES8,Powered,35.0,scooter,0.0,Bird
35,2019-05-01 00:01:41.247,36.147219,-86.792547,PoweredS3C46,Powered,72.0,scooter,0.0,Bird
36,2019-05-01 00:01:41.247,36.140610,-86.806159,PoweredRAQAI,Powered,54.0,scooter,0.0,Bird
37,2019-05-01 00:01:41.247,36.154377,-86.798815,PoweredBF8XE,Powered,79.0,scooter,0.0,Bird
38,2019-05-01 00:01:41.247,36.176472,-86.785293,PoweredDNCQL,Powered,90.0,scooter,0.0,Bird
39,2019-05-01 00:01:41.247,36.152399,-86.791586,PoweredK6YH7,Powered,100.0,scooter,0.0,Bird
40,2019-05-01 00:01:41.247,36.157598,-86.773162,PoweredINP6E,Powered,78.0,scooter,0.0,Bird
41,2019-05-01 00:01:41.247,36.143279,-86.801851,Powered71SLY,Powered,70.0,scooter,0.0,Bird
42,2019-05-01 00:01:41.247,36.155631,-86.785399,PoweredC4JMV,Powered,100.0,scooter,0.0,Bird
43,2019-05-01 00:01:41.247,36.138622,-86.793982,Powered125HI,Powered,85.0,scooter,0.0,Bird
44,2019-05-01 00:01:41.247,36.162090,-86.775447,PoweredFZIK5,Powered,95.0,scooter,0.0,Bird
45,2019-05-01 00:01:41.247,36.151606,-86.812096,Powered9DC3R,Powered,35.0,scooter,0.0,Bird
46,2019-05-01 00:01:41.247,36.158371,-86.780487,PoweredAPID7,Powered,82.0,scooter,0.0,Bird
47,2019-05-01 00:01:41.247,36.161611,-86.769058,Powered57MTR,Powered,38.0,scooter,0.0,Bird
48,2019-05-01 00:01:41.247,36.153159,-86.789142,Powered3WW12,Powered,89.0,scooter,0.0,Bird
49,2019-05-01 00:01:41.247,36.146792,-86.808228,PoweredDVQDU,Powered,79.0,scooter,0.0,Bird

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pubdatetime  800 non-null    datetime64[ns]
 1   latitude     800 non-null    float64
 2   longitude    800 non-null    float64
 3   sumdid       800 non-null    object
 4   sumdtype     800 non-null    object
 5   chargelevel  800 non-null    float64
 6   sumdgroup    800 non-null    object
 7   costpermin   800 non-null    float64
 8   companyname  800 non-null    object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 56.4+ KB

In [6]:
query2 = '''
SELECT COUNT(sumdgroup)
FROM scooters;
'''

In [7]:
with engine.connect() as connection:
    test2 = pd.read_sql(query2, con = connection)
test2

      count
0  73414043

770 nulls(in Scooters table) out of 73414043 entries

In [8]:
query3 = '''
SELECT min(pubdatetime), max(pubdatetime)
FROM scooters;
'''

In [9]:
with engine.connect() as connection:
    test3 = pd.read_sql(query3, con = connection)
test3

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [10]:
query4 = '''
SELECT min(pubtimestamp), max(pubtimestamp)
FROM trips;
'''
with engine.connect() as connection:
    test4 = pd.read_sql(query4, con = connection)
test4

                      min                 max
0 2019-05-01 00:00:55.423 2019-08-01 07:04:00

In [11]:
query5 = '''
SELECT *
FROM trips
LIMIT 100;
'''
with engine.connect() as connection:
    test5 = pd.read_sql(query5, con = connection)
test5

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-05-01 00:35:56.717,Bird,BRD2302,PoweredISXDY,17.000000,8202.10000,2019-05-01,00:18:55.406666,2019-05-01,00:36:04.586666,36.16730,-86.78300,36.15440,-86.79890,"[(36.166937, -86.782786), (36.165893, -86.7818...",2019-05-02 05:30:28.523
96,2019-05-01 00:37:02.933,Lyft,LFT59,Powered980721,15.817283,11404.19984,2019-05-01,00:21:13.733333,2019-05-01,00:37:02.770000,36.15840,-86.77693,36.16908,-86.76753,"[(36.1584, -86.77693), (36.15845, -86.7769), (...",2019-05-02 07:20:34.490
97,2019-05-01 00:37:39.827,Lyft,LFT61,Powered594191,16.260350,11033.46492,2019-05-01,00:21:24.126666,2019-05-01,00:37:39.750000,36.15843,-86.77686,36.16911,-86.76755,"[(36.15843, -86.77686), (36.15838, -86.7769), ...",2019-05-02 07:20:34.553
98,2019-05-01 00:37:41.263,Lyft,LFT62,Powered251145,8.953833,633.20212,2019-05-01,00:28:43.906666,2019-05-01,00:37:41.136666,36.16255,-86.77552,36.16285,-86.77590,"[(36.16255, -86.77552), (36.16259, -86.77561),...",2019-05-02 07:20:34.590
99,2019-05-01 00:39:22.380,Lyft,LFT63,Powered915923,12.783283,13989.50176,2019-05-01,00:26:35.293333,2019-05-01,00:39:22.290000,36.14112,-86.79115,36.14984,-86.76578,"[(36.14112, -86.79115), (36.1412, -86.79111), ...",2019-05-02 07:20:34.620

In [12]:
query6 = '''
SELECT COUNT(DISTINCT sumdid), companyname
FROM trips
GROUP BY companyname;
'''
with engine.connect() as connection:
    test6 = pd.read_sql(query6, con = connection)
test6

   count    companyname
0   3766           Bird
1    356  Bolt Mobility
2    166         Gotcha
3    450           JUMP
4   1788           Lime
5   1725           Lyft
6    754           SPIN

In [21]:
query8 = '''
SELECT COUNT(DISTINCT sumdid), companyname
FROM scooters
WHERE sumdgroup <> 'bicycle'
GROUP BY companyname;
'''
with engine.connect() as connection:
    test8 = pd.read_sql(query8, con = connection)
test8

   count companyname
0   3860        Bird
1    360        Bolt
2    224      Gotcha
3   1210        Jump
4   1818        Lime
5   1735        Lyft
6    805        Spin

In [15]:
query8 = '''
SELECT COUNT(DISTINCT sumdid), companyname
FROM scooters
WHERE sumdgroup like 'Scooter'
GROUP BY companyname;
'''
with engine.connect() as connection:
    test8 = pd.read_sql(query8, con = connection)
test8

   count companyname
0    360        Bolt
1    224      Gotcha
2    805        Spin

In [14]:
query7 = '''
SELECT COUNT(sumdid), sumdgroup
FROM scooters
GROUP BY sumdgroup;
'''
with engine.connect() as connection:
    test7 = pd.read_sql(query7, con = connection)
test7

      count sumdgroup
0     26529   bicycle
1  59671463   scooter
2  13716051   Scooter

In [20]:
query6 = '''
SELECT COUNT(DISTINCT sumdid)
FROM trips
HAVING COUNT(enddate) > 3;
'''
with engine.connect() as connection:
    test6 = pd.read_sql(query6, con = connection)
test6

   count
0   9005