In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [4]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [5]:
database_name = 'scooters'    

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [6]:
engine = create_engine(connection_string)

Now, we can create our query and pass it into the `.query()` method.

In [7]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

You can then fetch the results as tuples using either `fetchone` or `fetchall`:

In [8]:
result.fetchone()

(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136822'), Decimal('-86.799877'), 'PoweredLIRL1', 'Powered', Decimal('93.00'), 'scooter', Decimal('0.00'), 'Bird')

In [9]:
result.fetchall()

[(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.191252'), Decimal('-86.772945'), 'PoweredXWRWC', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144752'), Decimal('-86.806293'), 'PoweredMEJEH', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162056'), Decimal('-86.774688'), 'Powered1A7TC', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.150973'), Decimal('-86.783109'), 'Powered2TYEF', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157188'), Decimal('-86.769978'), 'Powered3F3VK', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154348'), Decimal('-86.784765'), 'PoweredVL7YG', 'Powered', Decimal('56.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158930'), Decimal('-86.775987'), 'Powered5LNUG', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.135993'), Decimal('-86.804226'), 'Powered7SPQQ', 'Powered', Decimal('85.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148938'), Decimal('-86.811256'), 'PoweredBV1DT', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161756'), Decimal('-86.777941'), 'Powered3B46L', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154591'), Decimal('-86.782247'), 'Powered7S2UU', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148193'), Decimal('-86.802267'), 'PoweredA64US', 'Powered', Decimal('72.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154716'), Decimal('-86.797860'), 'PoweredGK9VY', 'Powered', Decimal('74.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160524'), Decimal('-86.778528'), 'PoweredBFCXJ', 'Powered', Decimal('79.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.138401'), Decimal('-86.767465'), 'PoweredAB4VX', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159659'), Decimal('-86.788282'), 'PoweredNPV1Q', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154781'), Decimal('-86.785050'), 'PoweredXWRSD', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160438'), Decimal('-86.778480'), 'Powered2ZSZE', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160560'), Decimal('-86.778621'), 'PoweredI4EEE', 'Powered', Decimal('93.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158783'), Decimal('-86.779234'), 'PoweredY43Q4', 'Powered', Decimal('34.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161325'), Decimal('-86.777521'), 'PoweredRWGRR', 'Powered', Decimal('87.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.151640'), Decimal('-86.787593'), 'PoweredASJRY', 'Powered', Decimal('72.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162920'), Decimal('-86.780974'), 'Powered12J9T', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161862'), Decimal('-86.779130'), 'PoweredA9W92', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.153412'), Decimal('-86.780707'), 'Powered38GUR', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.135730'), Decimal('-86.802048'), 'PoweredMA1E2', 'Powered', Decimal('94.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.146417'), Decimal('-86.802519'), 'PoweredXFQ22', 'Powered', Decimal('92.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160937'), Decimal('-86.773172'), 'PoweredVZU3B', 'Powered', Decimal('46.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163215'), Decimal('-86.778137'), 'PoweredLP7V8', 'Powered', Decimal('92.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160151'), Decimal('-86.778160'), 'Powered4P19Z', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160827'), Decimal('-86.777283'), 'PoweredBE3BS', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.167599'), Decimal('-86.820593'), 'PoweredV33KI', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163280'), Decimal('-86.780282'), 'PoweredKUV1U', 'Powered', Decimal('92.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163904'), Decimal('-86.779432'), 'Powered4BES8', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.147219'), Decimal('-86.792547'), 'PoweredS3C46', 'Powered', Decimal('72.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.140610'), Decimal('-86.806159'), 'PoweredRAQAI', 'Powered', Decimal('54.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154377'), Decimal('-86.798815'), 'PoweredBF8XE', 'Powered', Decimal('79.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.176472'), Decimal('-86.785293'), 'PoweredDNCQL', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.152399'), Decimal('-86.791586'), 'PoweredK6YH7', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157598'), Decimal('-86.773162'), 'PoweredINP6E', 'Powered', Decimal('78.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.143279'), Decimal('-86.801851'), 'Powered71SLY', 'Powered', Decimal('70.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.155631'), Decimal('-86.785399'), 'PoweredC4JMV', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.138622'), Decimal('-86.793982'), 'Powered125HI', 'Powered', Decimal('85.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162090'), Decimal('-86.775447'), 'PoweredFZIK5', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.151606'), Decimal('-86.812096'), 'Powered9DC3R', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158371'), Decimal('-86.780487'), 'PoweredAPID7', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161611'), Decimal('-86.769058'), 'Powered57MTR', 'Powered', Decimal('38.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.153159'), Decimal('-86.789142'), 'Powered3WW12', 'Powered', Decimal('89.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.146792'), Decimal('-86.808228'), 'PoweredDVQDU', 'Powered', Decimal('79.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.150966'), Decimal('-86.796413'), 'PoweredLSSUT', 'Powered', Decimal('34.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136810'), Decimal('-86.799487'), 'Powered9JD8Y', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.167143'), Decimal('-86.781206'), 'PoweredE483T', 'Powered', Decimal('94.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.168628'), Decimal('-86.782627'), 'PoweredJG9NA', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161955'), Decimal('-86.775273'), 'PoweredZB1FI', 'Powered', Decimal('87.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.140221'), Decimal('-86.804083'), 'PoweredRDZAZ', 'Powered', Decimal('33.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.149600'), Decimal('-86.797500'), 'PoweredNHD1X', 'Powered', Decimal('91.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163778'), Decimal('-86.778153'), 'PoweredH1XZK', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160997'), Decimal('-86.776990'), 'PoweredBWUNW', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.145945'), Decimal('-86.811664'), 'PoweredWUEUZ', 'Powered', Decimal('60.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160541'), Decimal('-86.775244'), 'Powered35D1B', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.147104'), Decimal('-86.792532'), 'PoweredFFUAY', 'Powered', Decimal('87.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161052'), Decimal('-86.781899'), 'PoweredYEBSU', 'Powered', Decimal('73.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160655'), Decimal('-86.778533'), 'PoweredJ2MAY', 'Powered', Decimal('76.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159525'), Decimal('-86.773468'), 'PoweredJRIUQ', 'Powered', Decimal('36.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.149934'), Decimal('-86.814497'), 'Powered85B5Y', 'Powered', Decimal('73.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157300'), Decimal('-86.773915'), 'Powered4IJFP', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157100'), Decimal('-86.774087'), 'PoweredK5SAH', 'Powered', Decimal('43.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.156049'), Decimal('-86.782991'), 'Powered1TN7V', 'Powered', Decimal('52.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.152848'), Decimal('-86.782675'), 'PoweredAWI7A', 'Powered', Decimal('60.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148287'), Decimal('-86.807261'), 'PoweredBVZ4I', 'Powered', Decimal('70.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159927'), Decimal('-86.772829'), 'Powered4L229', 'Powered', Decimal('42.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.177509'), Decimal('-86.750357'), 'PoweredJWUK3', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.173564'), Decimal('-86.765337'), 'Powered8QBKJ', 'Powered', Decimal('76.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161454'), Decimal('-86.776040'), 'Powered5R8S1', 'Powered', Decimal('42.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144890'), Decimal('-86.805460'), 'PoweredQFQ1D', 'Powered', Decimal('89.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.147779'), Decimal('-86.810941'), 'PoweredDUDFB', 'Powered', Decimal('80.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.175541'), Decimal('-86.794503'), 'PoweredAGR3R', 'Powered', Decimal('74.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163945'), Decimal('-86.778285'), 'Powered4Y7BC', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159813'), Decimal('-86.788666'), 'Powered7IYBL', 'Powered', Decimal('94.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.174826'), Decimal('-86.786375'), 'Powered2XNJS', 'Powered', Decimal('99.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161769'), Decimal('-86.782624'), 'PoweredHIRY6', 'Powered', Decimal('62.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.149279'), Decimal('-86.803224'), 'PoweredX61AH', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.155292'), Decimal('-86.769568'), 'PoweredCGFQE', 'Powered', Decimal('91.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.174157'), Decimal('-86.761328'), 'PoweredBIQFK', 'Powered', Decimal('89.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154852'), Decimal('-86.784918'), 'PoweredSTC61', 'Powered', Decimal('60.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.143170'), Decimal('-86.808771'), 'PoweredQTIZB', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162431'), Decimal('-86.775466'), 'Powered9ELC1', 'Powered', Decimal('54.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157373'), Decimal('-86.773105'), 'PoweredU3HGX', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160324'), Decimal('-86.778369'), 'PoweredRR9II', 'Powered', Decimal('76.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160530'), Decimal('-86.778572'), 'PoweredPDCDP', 'Powered', Decimal('64.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162825'), Decimal('-86.781787'), 'Powered7M73Y', 'Powered', Decimal('73.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162714'), Decimal('-86.775662'), 'Powered6WAVH', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136883'), Decimal('-86.800108'), 'PoweredPVTGC', 'Powered', Decimal('96.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162200'), Decimal('-86.776747'), 'PoweredBCK7U', 'Powered', Decimal('62.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.141158'), Decimal('-86.801997'), 'PoweredWDMWW', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.138786'), Decimal('-86.801667'), 'PoweredSNB79', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162634'), Decimal('-86.781603'), 'PoweredM69E2', 'Powered', Decimal('91.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144795'), Decimal('-86.795576'), 'PoweredHY38F', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.165809'), Decimal('-86.777780'), 'Powered2WLYW', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird')]

On the other hand, sqlalchemy plays nicely with pandas.

In [10]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as pyplot

In [11]:
with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

In [12]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [13]:
result.fetchone()

(datetime.datetime(2019, 5, 1, 0, 0, 55, 423000), 'Bird', 'BRD2134', 'Powered9EAJL', Decimal('3.0'), Decimal('958.00528'), datetime.date(2019, 5, 1), datetime.time(0, 0, 20, 460000), datetime.date(2019, 5, 1), datetime.time(0, 2, 52, 346666), Decimal('36.1571'), Decimal('-86.8036'), Decimal('36.1566'), Decimal('-86.8067'), '[(36.157235, -86.803612), (36.157235, -86.80362), (36.157226, -86.803642), (36.157226, -86.803665), (36.157226, -86.803665), (36.157226, -86.803665), ... (2204 characters truncated) ... (36.155941, -86.809517), (36.155941, -86.809517), (36.155941, -86.809517), (36.155918, -86.809671), (36.155918, -86.809671), (36.155918, -86.809671)]', datetime.datetime(2019, 5, 2, 5, 30, 23, 780000))

In [14]:
result.fetchall()

[(datetime.datetime(2019, 5, 1, 0, 3, 33, 147000), 'Lyft', 'LFT5', 'Powered296631', Decimal('1.7156'), Decimal('1371.39112'), datetime.date(2019, 5, 1), datetime.time(0, 1, 50, 90000), datetime.date(2019, 5, 1), datetime.time(0, 3, 33, 26666), Decimal('36.15797'), Decimal('-86.77896'), Decimal('36.16054'), Decimal('-86.77689'), '[(36.15797, -86.77896), (36.15795, -86.77873), (36.15798, -86.77859), (36.15809, -86.77822), (36.15825, -86.77785), (36.1583, -86.77768), (36.15838,  ... (92 characters truncated) ... -86.77703), (36.15963, -86.77678), (36.15977, -86.77665), (36.15994, -86.77654), (36.16024, -86.77673), (36.16053, -86.77694), (36.16054, -86.77689)]', datetime.datetime(2019, 5, 2, 7, 20, 32, 757000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2168', 'Powered7S2UU', Decimal('3.0'), Decimal('2296.588'), datetime.date(2019, 5, 1), datetime.time(0, 3, 47, 363333), datetime.date(2019, 5, 1), datetime.time(0, 7, 13, 596666), Decimal('36.1547'), Decimal('-86.7818'), Decimal('36.1565'), Decimal('-86.7868'), '[(36.155068, -86.782124), (36.156597, -86.78675)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 530000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2166', 'PoweredZIIVX', Decimal('3.0'), Decimal('1200.78744'), datetime.date(2019, 5, 1), datetime.time(0, 4, 21, 386666), datetime.date(2019, 5, 1), datetime.time(0, 6, 59, 176666), Decimal('36.1494'), Decimal('-86.7795'), Decimal('36.1531'), Decimal('-86.7796'), '[(36.149741, -86.779344), (36.149741, -86.779327), (36.149741, -86.779327), (36.149741, -86.779327), (36.149761, -86.77929), (36.149761, -86.77929),  ... (1433 characters truncated) ... , (36.153076, -86.779496), (36.153076, -86.779496), (36.153088, -86.77951), (36.153088, -86.77951), (36.153103, -86.779519), (36.153103, -86.779519)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 237000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2165', 'PoweredJ7MB3', Decimal('2.0'), Decimal('351.04988'), datetime.date(2019, 5, 1), datetime.time(0, 4, 27, 796666), datetime.date(2019, 5, 1), datetime.time(0, 6, 23, 150000), Decimal('36.1778'), Decimal('-86.7866'), Decimal('36.1774'), Decimal('-86.7876'), '[(36.177699, -86.786477), (36.177711, -86.786469), (36.177715, -86.786469), (36.177715, -86.786469), (36.177715, -86.786469), (36.177753, -86.786469) ... (885 characters truncated) ... ), (36.17741, -86.787652), (36.177383, -86.78775), (36.177383, -86.78775), (36.177383, -86.787766), (36.177383, -86.787766), (36.177383, -86.787766)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 207000)),
 (datetime.datetime(2019, 5, 1, 0, 5, 55, 570000), 'Bird', 'BRD2167', 'PoweredEJF1K', Decimal('3.0'), Decimal('984.252'), datetime.date(2019, 5, 1), datetime.time(0, 3, 56, 546666), datetime.date(2019, 5, 1), datetime.time(0, 6, 45, 786666), Decimal('36.1544'), Decimal('-86.7862'), Decimal('36.1515'), Decimal('-86.7844'), '[(36.154368, -86.785909), (36.151689, -86.784331), (36.151619, -86.784294), (36.151562, -86.784313)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 317000)),
 (datetime.datetime(2019, 5, 1, 0, 7, 55, 880000), 'Lyft', 'LFT10', 'Powered329418', Decimal('1.0939166667'), Decimal('0.0'), datetime.date(2019, 5, 1), datetime.time(0, 6, 50, 106666), datetime.date(2019, 5, 1), datetime.time(0, 7, 55, 740000), Decimal('36.15168'), Decimal('-86.78408'), Decimal('36.15171'), Decimal('-86.78411'), '[(36.15168, -86.78408), (36.15171, -86.78411)]', datetime.datetime(2019, 5, 2, 7, 20, 32, 890000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 50, 240000), 'Lyft', 'LFT13', 'Powered438572', Decimal('2.9543833333'), Decimal('1161.41736'), datetime.date(2019, 5, 1), datetime.time(0, 7, 52, 853333), datetime.date(2019, 5, 1), datetime.time(0, 10, 50, 116666), Decimal('36.15193'), Decimal('-86.78439'), Decimal('36.15463'), Decimal('-86.78492'), '[(36.15193, -86.78439), (36.15188, -86.78432), (36.15186, -86.78425), (36.15199, -86.78421), (36.15207, -86.78412), (36.15219, -86.78404), (36.15233, ... (203 characters truncated) ... 4, -86.78436), (36.15392, -86.78445), (36.15405, -86.7846), (36.15427, -86.78473), (36.1545, -86.78487), (36.1546, -86.78491), (36.15463, -86.78492)]', datetime.datetime(2019, 5, 2, 7, 20, 32, 990000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2193', 'PoweredSX2AW', Decimal('6.0'), Decimal('2624.672'), datetime.date(2019, 5, 1), datetime.time(0, 6, 34, 436666), datetime.date(2019, 5, 1), datetime.time(0, 12, 48, 676666), Decimal('36.1708'), Decimal('-86.7893'), Decimal('36.1746'), Decimal('-86.786'), '[(36.170995, -86.789593), (36.173193, -86.791207), (36.174235, -86.787287), (36.174353, -86.787131), (36.174687, -86.785989), (36.174634, -86.78593), (36.174676, -86.785968), (36.174864, -86.786073)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 833000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2194', 'PoweredL968V', Decimal('6.0'), Decimal('2624.672'), datetime.date(2019, 5, 1), datetime.time(0, 5, 36, 870000), datetime.date(2019, 5, 1), datetime.time(0, 11, 19, 183333), Decimal('36.1565'), Decimal('-86.7971'), Decimal('36.1512'), Decimal('-86.7968'), '[(36.15654, -86.797137), (36.153065, -86.798047), (36.151263, -86.796712)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 920000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2191', 'PoweredVS299', Decimal('3.0'), Decimal('984.252'), datetime.date(2019, 5, 1), datetime.time(0, 9, 14, 73333), datetime.date(2019, 5, 1), datetime.time(0, 12, 37, 533333), Decimal('36.1612'), Decimal('-86.7808'), Decimal('36.1593'), Decimal('-86.7808'), '[(36.160907, -86.780775), (36.159377, -86.780755), (36.159331, -86.780779)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 663000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2192', 'Powered9DC3R', Decimal('5.0'), Decimal('1968.504'), datetime.date(2019, 5, 1), datetime.time(0, 7, 37, 766666), datetime.date(2019, 5, 1), datetime.time(0, 12, 13, 596666), Decimal('36.1516'), Decimal('-86.8122'), Decimal('36.1519'), Decimal('-86.8144'), '[(36.151608, -86.811971), (36.151675, -86.81214), (36.151942, -86.814321), (36.151872, -86.815218)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 737000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2197', 'Powered5R8S1', Decimal('9.0'), Decimal('3280.84'), datetime.date(2019, 5, 1), datetime.time(0, 1, 50, 923333), datetime.date(2019, 5, 1), datetime.time(0, 11, 3, 403333), Decimal('36.1614'), Decimal('-86.776'), Decimal('36.1567'), Decimal('-86.7808'), '[(36.161623, -86.776131), (36.161411, -86.776082), (36.160801, -86.776221), (36.160322, -86.776957), (36.157022, -86.780719), (36.156792, -86.780783), (36.155201, -86.781246)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 87000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2196', 'PoweredF8GJP', Decimal('9.0'), Decimal('328.084'), datetime.date(2019, 5, 1), datetime.time(0, 3, 32, 563333), datetime.date(2019, 5, 1), datetime.time(0, 12, 36, 373333), Decimal('36.1647'), Decimal('-86.7809'), Decimal('36.1641'), Decimal('-86.783'), '[(36.165052, -86.78149), (36.164572, -86.781547), (36.164662, -86.781705), (36.164145, -86.782929)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 27000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 56, 13000), 'Bird', 'BRD2195', 'Powered2AQ14', Decimal('6.0'), Decimal('4921.26'), datetime.date(2019, 5, 1), datetime.time(0, 5, 30, 423333), datetime.date(2019, 5, 1), datetime.time(0, 11, 55, 403333), Decimal('36.1658'), Decimal('-86.7803'), Decimal('36.1683'), Decimal('-86.7676'), '[(36.165862, -86.780524), (36.165631, -86.779799), (36.165904, -86.778425), (36.168327, -86.76756)]', datetime.datetime(2019, 5, 2, 5, 30, 24, 970000)),
 (datetime.datetime(2019, 5, 1, 1, 15, 58, 413000), 'Bird', 'BRD2472', 'PoweredKU3Z3', Decimal('0.0'), Decimal('0.0'), datetime.date(2019, 5, 1), datetime.time(1, 17, 28, 820000), datetime.date(2019, 5, 1), datetime.time(1, 17, 45, 83333), Decimal('36.1754'), Decimal('-86.7559'), Decimal('36.1754'), Decimal('-86.7559'), '[(36.175385, -86.755707), (36.175385, -86.755707)]', datetime.datetime(2019, 5, 2, 5, 30, 33, 110000)),
 (datetime.datetime(2019, 5, 1, 2, 1, 0, 667000), 'Bird', 'BRD2663', 'PoweredSXDH3', Decimal('6.0'), Decimal('1312.336'), datetime.date(2019, 5, 1), datetime.time(1, 55, 28, 166666), datetime.date(2019, 5, 1), datetime.time(2, 1, 31, 870000), Decimal('36.1769'), Decimal('-86.7843'), Decimal('36.1745'), Decimal('-86.786'), '[(36.176947, -86.784408), (36.176833, -86.784731), (36.174682, -86.786135), (36.174511, -86.785982)]', datetime.datetime(2019, 5, 2, 5, 30, 37, 390000)),
 (datetime.datetime(2019, 5, 6, 4, 18, 37, 540000), 'Lime', 'LIM766', 'Powered7FP3ACDGO4AKF', Decimal('4.2833333333'), Decimal('0.0'), datetime.date(2019, 5, 6), datetime.time(3, 53, 55), datetime.date(2019, 5, 6), datetime.time(3, 58, 12), Decimal('36.164064'), Decimal('-86.779384'), Decimal('36.168658'), Decimal('-86.783099'), '[(36.16375, -86.77944)]', datetime.datetime(2019, 5, 7, 6, 42, 48, 767000)),
 (datetime.datetime(2019, 5, 1, 0, 10, 58, 173000), 'Lyft', 'LFT14', 'Powered689177', Decimal('2.78'), Decimal('1161.41736'), datetime.date(2019, 5, 1), datetime.time(0, 8, 11, 206666), datetime.date(2019, 5, 1), datetime.time(0, 10, 58, 6666), Decimal('36.15186'), Decimal('-86.78441'), Decimal('36.15461'), Decimal('-86.78494'), '[(36.15186, -86.78441), (36.15179, -86.78431), (36.15186, -86.78425), (36.15192, -86.78422), (36.15196, -86.78415), (36.15212, -86.78403), (36.15227, ... (223 characters truncated) ... , -86.78449), (36.15398, -86.7846), (36.15415, -86.7847), (36.15437, -86.78483), (36.15452, -86.78493), (36.15459, -86.78496), (36.15461, -86.78494)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 20000)),
 (datetime.datetime(2019, 5, 1, 0, 11, 26, 627000), 'Lyft', 'LFT16', 'Powered901629', Decimal('6.4362'), Decimal('4908.13664'), datetime.date(2019, 5, 1), datetime.time(0, 5, 0, 326666), datetime.date(2019, 5, 1), datetime.time(0, 11, 26, 500000), Decimal('36.16211'), Decimal('-86.77528'), Decimal('36.15151'), Decimal('-86.77238'), '[(36.16211, -86.77528), (36.16206, -86.7753), (36.16193, -86.77525), (36.16172, -86.7752), (36.16148, -86.7751), (36.16131, -86.77487), (36.16101, -8 ... (889 characters truncated) ... -86.77299), (36.15176, -86.77329), (36.15183, -86.77296), (36.15178, -86.77265), (36.15164, -86.77248), (36.15155, -86.77237), (36.15151, -86.77238)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 87000)),
 (datetime.datetime(2019, 5, 1, 0, 12, 0, 373000), 'Lyft', 'LFT17', 'Powered045472', Decimal('9.46605'), Decimal('4698.16288'), datetime.date(2019, 5, 1), datetime.time(0, 2, 32, 266666), datetime.date(2019, 5, 1), datetime.time(0, 12, 0, 230000), Decimal('36.15566'), Decimal('-86.7803'), Decimal('36.15205'), Decimal('-86.78141'), '[(36.15566, -86.7803), (36.15573, -86.78028), (36.15578, -86.78025), (36.15579, -86.78019), (36.15577, -86.78013), (36.15561, -86.78002), (36.15545,  ... (1482 characters truncated) ... , -86.78202), (36.15213, -86.78193), (36.15212, -86.78182), (36.15211, -86.7817), (36.15211, -86.78158), (36.15208, -86.7814), (36.15205, -86.78141)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 120000)),
 (datetime.datetime(2019, 5, 1, 0, 12, 47, 877000), 'Lyft', 'LFT20', 'Powered878815', Decimal('11.8511'), Decimal('5226.37812'), datetime.date(2019, 5, 1), datetime.time(0, 0, 56, 693333), datetime.date(2019, 5, 1), datetime.time(0, 12, 47, 760000), Decimal('36.16023'), Decimal('-86.7783'), Decimal('36.15046'), Decimal('-86.77572'), '[(36.16023, -86.7783), (36.16014, -86.77826), (36.16004, -86.77818), (36.15992, -86.77808), (36.1598, -86.77799), (36.15972, -86.77792), (36.15958, - ... (1520 characters truncated) ...  -86.77732), (36.1518, -86.77691), (36.15182, -86.77647), (36.15116, -86.77571), (36.15062, -86.77568), (36.15048, -86.77572), (36.15046, -86.77572)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 220000)),
 (datetime.datetime(2019, 5, 1, 0, 12, 56, 3000), 'Lyft', 'LFT22', 'Powered112818', Decimal('12.7924'), Decimal('1528.87144'), datetime.date(2019, 5, 1), datetime.time(0, 0, 8, 346666), datetime.date(2019, 5, 1), datetime.time(0, 12, 55, 893333), Decimal('36.16082'), Decimal('-86.77721'), Decimal('36.16339'), Decimal('-86.77718'), '[(36.16082, -86.77721), (36.16087, -86.77725), (36.16096, -86.77728), (36.161, -86.77719), (36.16102, -86.7771), (36.16104, -86.77703), (36.16106, -8 ... (818 characters truncated) ...  -86.77689), (36.16308, -86.77695), (36.16312, -86.77701), (36.16317, -86.77706), (36.16327, -86.77716), (36.16335, -86.7772), (36.16339, -86.77718)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 287000)),
 (datetime.datetime(2019, 5, 1, 0, 12, 56, 413000), 'Lyft', 'LFT23', 'Powered703917', Decimal('2.4012333333'), Decimal('1476.378'), datetime.date(2019, 5, 1), datetime.time(0, 10, 32, 243333), datetime.date(2019, 5, 1), datetime.time(0, 12, 56, 316666), Decimal('36.15444'), Decimal('-86.78595'), Decimal('36.15114'), Decimal('-86.7849'), '[(36.15444, -86.78595), (36.1544, -86.78588), (36.15429, -86.78586), (36.15409, -86.78585), (36.15384, -86.78577), (36.15352, -86.78555), (36.15317,  ... (110 characters truncated) ... 6, -86.78436), (36.15129, -86.7844), (36.15124, -86.7844), (36.15115, -86.78455), (36.15114, -86.78479), (36.15115, -86.78488), (36.15114, -86.7849)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 323000)),
 (datetime.datetime(2019, 5, 1, 1, 28, 9, 823000), 'Lyft', 'LFT137', 'Powered577651', Decimal('56.6730666667'), Decimal('20433.07152'), datetime.date(2019, 5, 1), datetime.time(0, 31, 29, 343333), datetime.date(2019, 5, 1), datetime.time(1, 28, 9, 726666), Decimal('36.16058'), Decimal('-86.77809'), Decimal('36.15473'), Decimal('-86.78496'), '[(36.16058, -86.77809), (36.16059, -86.77819), (36.16059, -86.77829), (36.16066, -86.77835), (36.16071, -86.77839), (36.16074, -86.77843), (36.16075, ... (8483 characters truncated) ... -86.78562), (36.15432, -86.78553), (36.15438, -86.78548), (36.15456, -86.78508), (36.15468, -86.78504), (36.15471, -86.78497), (36.15473, -86.78496)]', datetime.datetime(2019, 5, 2, 7, 20, 37, 470000)),
 (datetime.datetime(2019, 5, 1, 0, 13, 7, 400000), 'Lyft', 'LFT24', 'Powered563753', Decimal('5.80305'), Decimal('1318.89768'), datetime.date(2019, 5, 1), datetime.time(0, 7, 19, 40000), datetime.date(2019, 5, 1), datetime.time(0, 13, 7, 223333), Decimal('36.16075'), Decimal('-86.77724'), Decimal('36.1634'), Decimal('-86.77714'), '[(36.16075, -86.77724), (36.16086, -86.77726), (36.16092, -86.77714), (36.16096, -86.77698), (36.16099, -86.7769), (36.16103, -86.77683), (36.16108,  ... (525 characters truncated) ... , -86.77701), (36.16311, -86.77706), (36.16317, -86.77712), (36.16328, -86.77718), (36.16334, -86.77719), (36.1634, -86.77714), (36.1634, -86.77714)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 357000)),
 (datetime.datetime(2019, 5, 1, 0, 13, 37, 357000), 'Lyft', 'LFT27', 'Powered633835', Decimal('1.5737333333'), Decimal('0.0'), datetime.date(2019, 5, 1), datetime.time(0, 12, 2, 786666), datetime.date(2019, 5, 1), datetime.time(0, 13, 37, 213333), Decimal('36.15913'), Decimal('-86.78482'), Decimal('36.15915'), Decimal('-86.78483'), '[(36.15913, -86.78482), (36.15915, -86.78483)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 453000)),
 (datetime.datetime(2019, 5, 1, 0, 13, 44, 443000), 'Lyft', 'LFT31', 'Powered425054', Decimal('4.3547'), Decimal('1528.87144'), datetime.date(2019, 5, 1), datetime.time(0, 9, 23, 46666), datetime.date(2019, 5, 1), datetime.time(0, 13, 44, 330000), Decimal('36.14978'), Decimal('-86.81395'), Decimal('36.15079'), Decimal('-86.81294'), '[(36.14978, -86.81395), (36.14974, -86.81402), (36.1498, -86.81405), (36.14986, -86.81412), (36.14982, -86.81405), (36.14995, -86.81381), (36.15, -86 ... (339 characters truncated) ... -86.81299), (36.15043, -86.81308), (36.15052, -86.81325), (36.15072, -86.81327), (36.15085, -86.81315), (36.15079, -86.81297), (36.15079, -86.81294)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 583000)),
 (datetime.datetime(2019, 5, 1, 0, 14, 36, 83000), 'Lyft', 'LFT32', 'Powered093597', Decimal('6.0749'), Decimal('3323.49092'), datetime.date(2019, 5, 1), datetime.time(0, 8, 31, 486666), datetime.date(2019, 5, 1), datetime.time(0, 14, 35, 983333), Decimal('36.16293'), Decimal('-86.78096'), Decimal('36.15651'), Decimal('-86.78069'), '[(36.16293, -86.78096), (36.163, -86.78087), (36.1631, -86.78068), (36.16317, -86.78052), (36.16309, -86.78041), (36.16291, -86.78026), (36.16277, -8 ... (906 characters truncated) ...  -86.78062), (36.15633, -86.78063), (36.15627, -86.78064), (36.15624, -86.78069), (36.15643, -86.78078), (36.1565, -86.78073), (36.15651, -86.78069)]', datetime.datetime(2019, 5, 2, 7, 20, 33, 613000)),
 (datetime.datetime(2019, 5, 1, 0, 15, 55, 977000), 'Bird', 'BRD2211', 'Powered36EWB', Decimal('8.0'), Decimal('1968.504'), datetime.date(2019, 5, 1), datetime.time(0, 8, 30, 410000), datetime.date(2019, 5, 1), datetime.time(0, 16, 28, 456666), Decimal('36.1645'), Decimal('-86.7812'), Decimal('36.1636'), Decimal('-86.7868'), '[(36.16466, -86.781596), (36.164925, -86.781665), (36.16555, -86.781256), (36.165465, -86.781926), (36.165576, -86.781592), (36.165401, -86.781537), (36.165101, -86.781379), (36.163779, -86.786522), (36.163665, -86.786782), (36.159661, -86.788871)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 300000)),
 (datetime.datetime(2019, 5, 1, 0, 15, 55, 977000), 'Bird', 'BRD2210', 'PoweredIJSD8', Decimal('7.0'), Decimal('2296.588'), datetime.date(2019, 5, 1), datetime.time(0, 9, 0, 666666), datetime.date(2019, 5, 1), datetime.time(0, 16, 4, 123333), Decimal('36.1497'), Decimal('-86.7973'), Decimal('36.1525'), Decimal('-86.7911'), '[(36.149817, -86.796944), (36.149957, -86.796764), (36.149891, -86.796791), (36.150057, -86.796533), (36.149908, -86.796833), (36.149991, -86.796597), (36.151033, -86.794878), (36.152042, -86.793347), (36.152123, -86.793088), (36.152123, -86.793088), (36.152566, -86.791068)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 267000)),
 (datetime.datetime(2019, 5, 1, 0, 15, 55, 977000), 'Bird', 'BRD2212', 'PoweredVGMWJ', Decimal('10.0'), Decimal('5249.344'), datetime.date(2019, 5, 1), datetime.time(0, 7, 7, 963333), datetime.date(2019, 5, 1), datetime.time(0, 16, 58, 763333), Decimal('36.1765'), Decimal('-86.7847'), Decimal('36.1659'), Decimal('-86.7762'), '[(36.176602, -86.784681), (36.177094, -86.784293), (36.177112, -86.783303), (36.171916, -86.780007), (36.170129, -86.77894), (36.169957, -86.778842), (36.165928, -86.776188)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 317000)),
 (datetime.datetime(2019, 5, 1, 0, 15, 55, 977000), 'Bird', 'BRD2214', 'Powered9LPEJ', Decimal('11.0'), Decimal('3608.924'), datetime.date(2019, 5, 1), datetime.time(0, 5, 51, 86666), datetime.date(2019, 5, 1), datetime.time(0, 16, 23, 523333), Decimal('36.1445'), Decimal('-86.8016'), Decimal('36.1367'), Decimal('-86.8053'), '[(36.144405, -86.801779), (36.142349, -86.804772), (36.139894, -86.805145), (36.139149, -86.805217), (36.139089, -86.805187), (36.138841, -86.805089), (36.13803, -86.805091), (36.137792, -86.805156), (36.137399, -86.8052), (36.136756, -86.805292)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 373000)),
 (datetime.datetime(2019, 5, 1, 0, 15, 55, 977000), 'Bird', 'BRD2213', 'Powered1ANXK', Decimal('11.0'), Decimal('4593.176'), datetime.date(2019, 5, 1), datetime.time(0, 6, 43, 16666), datetime.date(2019, 5, 1), datetime.time(0, 17, 35, 266666), Decimal('36.1535'), Decimal('-86.7721'), Decimal('36.1592'), Decimal('-86.776'), '[(36.153545, -86.772453), (36.153545, -86.772453), (36.15964, -86.778154), (36.159608, -86.777531), (36.159194, -86.777219), (36.159091, -86.777137), ... (75 characters truncated) ...  (36.159618, -86.775931), (36.159191, -86.776235), (36.159212, -86.775156), (36.159227, -86.775908), (36.158716, -86.775973), (36.15847, -86.775427)]', datetime.datetime(2019, 5, 2, 5, 30, 25, 347000)),

In [15]:
with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [16]:
query='''
SELECT
     COUNT(sumdid)
FROM scooters;
'''
with engine.connect() as connection:
        scooters = pd.read_sql(text(query), con = connection)

scooters.head()

      count
0  73414043

In [17]:
  # Are there any null values in any columns in either table?

In [18]:
scooters.isna().any()

count    False
dtype: bool

In [19]:
trips.isna().any()

pubtimestamp      False
companyname       False
triprecordnum     False
sumdid            False
tripduration      False
tripdistance      False
startdate         False
starttime         False
enddate           False
endtime           False
startlatitude     False
startlongitude    False
endlatitude       False
endlongitude      False
triproute         False
create_dt         False
dtype: bool

In [20]:
# What date range is represented in each of the date columns? Investigate any values that seem odd.

In [21]:
query='''
SELECT
     DISTINCT sumdid
FROM scooters;
'''
with engine.connect() as connection:
        scooters = pd.read_sql(text(query), con = connection)

scooters.head()

                                         sumdid
0  Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619
1  Powered-01a24436-0315-e1bb-7ce0-d081d05dff7d
2  Powered-03be23ca-d43b-222f-be54-e44b5b4690df
3  Powered-046201fb-6532-1f37-6334-3612fb1e61f7
4  Powered-0479bb84-afbd-0426-f1c4-df628542a88c

In [22]:
query = '''
SELECT min(pubdatetime), max(pubdatetime)
FROM scooters;
'''

In [23]:
with engine.connect() as connection:
    test = pd.read_sql(query, con = connection)
test

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [24]:
query='''
SELECT
     COUNT(sumdid)
FROM trips;
'''
with engine.connect() as connection:
        trips = pd.read_sql(text(query), con = connection)

trips.head()

    count
0  565522

In [25]:
query = '''
SELECT min(pubtimestamp), max(pubtimestamp)
FROM trips;
'''

In [26]:
with engine.connect() as connection:
    test = pd.read_sql(query, con = connection)
test

                      min                 max
0 2019-05-01 00:00:55.423 2019-08-01 07:04:00

In [27]:
query = '''
SELECT MIN (startdate) AS min_startdate, 
MAX (startdate) AS max_startdate,
MIN (enddate) AS min_enddate,
MAX (enddate) AS max_enddate
FROM trips;
'''

In [28]:
with engine.connect() as connection:
    test = pd.read_sql(query, con = connection)
test

  min_startdate max_startdate min_enddate max_enddate
0    2019-05-01    2019-07-31  2019-05-01  2019-08-01

In [29]:
# Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [30]:
 # What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [31]:
query='''
SELECT distinct sumdgroup
FROM scooters
'''

In [32]:
with engine.connect() as connection:
    test = pd.read_sql(query, con = connection)
test

  sumdgroup
0   bicycle
1   scooter
2   Scooter

 we don't need bicycle

In [33]:
# What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?

In [34]:
query = '''
SELECT MIN (startlatitude) AS min_startlatitude, 
 MAX (startlatitude) AS max_startlatitude, 
 MIN (startlongitude) AS min_startlongitude, 
 MAX (startlongitude) AS max_startlongitude,
 MIN (endlatitude) AS min_endlatitude,
 MAX (endlatitude) AS max_endlatitude, 
 MIN (endlongitude) AS min_endlongitude,
 MAX (endlatitude) AS max_endlatitude
FROM trips
'''

In [35]:
with engine.connect() as connection:
    test = pd.read_sql(query, con = connection)
test

,min_startlatitude,max_startlatitude,min_startlongitude,max_startlongitude,min_endlatitude,max_endlatitude,min_endlongitude,max_endlatitude
0,35.8532,36.300029,-86.918008,-86.3662,-36.850405,51.045409,-122.673729,51.045409

In [36]:
query = '''
SELECT min(latitude) as min_latitude,
max(latitude) as max_latitude,
min(longitude) as min_longitude,
max(longitude) as max_longitude
FROM scooters;
'''

In [37]:
with engine.connect() as connection:
    test1 = pd.read_sql(query, con = connection)
test1

   min_latitude  max_latitude  min_longitude  max_longitude
0           0.0  3.609874e+06     -97.443879            0.0

In [38]:
# What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.

In [39]:
query = '''
SELECT MIN (tripduration) AS min_tripduration, 
 MAX (tripduration) AS max_tripduration, 
 MIN (tripdistance) AS min_tripdistance, 
 MAX (tripdistance) AS max_tripdistance
FROM trips
'''

In [40]:
with engine.connect() as connection:
    test2 = pd.read_sql(query, con = connection)
test2

   min_tripduration  max_tripduration  min_tripdistance  max_tripdistance
0        -19.358267          512619.0       -20324803.8      3.188448e+07

In [41]:
 # Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?